[user]
	name = Gustavo Martins T Borges
	email = gustavo.mtborges@gmail.com
[alias]
  st = status
  lg = log  --graph --pretty=format:'%C(auto)%h -%C(auto)%d %s %C(green)(%cr) %C(blue)<%an>' --abbrev-commit --date=relative
  lga = log --graph --pretty=format:'%C(auto)%h -%C(auto)%d %s %C(green)(%cr) %C(blue)<%an>' --abbrev-commit --date=relative --all
  cm = commit
  co = checkout
  sw = switch
  rt = restore
  rs = reset
  cl = clean
  cn = clone
  pl = pull
  ps = push
  br = branch
  sh = stash
  dd = diff
  dw = diff --word-diff
  ds = diff --staged
  rb = rebase
  rbc = rebase --continue
  rba = rebase --abort
  mr = merge
  mrc = merge --continue
  mra = merge --abort
  wt = worktree
[push]
  default = simple
[color]
  ui = true
[core]
  editor = nvim
  autocrlf = false
  eof = lf
[branch]
  autosetuprebase = always
[commit]
  template = ~/.gitmessage
  gpgsign = true
  verbose = true
[tag]
  gpgsign = true
[pull]
  rebase = true
[merge]
  tool = vimdiff
  ff = only
  conflictstyle = diff3
[init]
  defaultBranch = main
[fetch]
  prune = true
[includeIf "gitdir:~/repos/saas/matt/"]
  path = "~/.gitconfig-matt"
[includeIf "gitdir:~/repos/work/advolve/"]
  path = "~/.gitconfig-advolve"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
