<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.kanata.mac</string>
    <key>Program</key>
    <string>/usr/local/bin/kanata</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/kanata</string>
      <string>--cfg</string>
      <string>/Users/gustavo/.config/kanata/mac.kbd</string>
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>StandardOutPath</key>
    <string>/tmp/kanata-mac.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/kanata-mac.stderr</string>
  </dict>
</plist>
